:root {
  --bg-dark: #030303;
  --dark-red: #710707;
  --font-white: #ffffff;
  --font-gold: #d2b183;
  --font-gold-hover: #9d8665;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto", sans serif;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto", sans serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000;
  font-size: 22px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  padding: 75px 0px 76px 0px;
  background: #030303;
}

header a {
  color: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 200px;
  height: 50px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.logo__img {
  height: 26px;
  width: 49px;
  background: url("../assets/img/logo.svg") no-repeat;
  margin: 0px 0px 7px 0px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.logo:hover .logo__img {
  -webkit-filter: invert(54%) sepia(32%) saturate(369%) hue-rotate(356deg) brightness(73%) contrast(86%);
          filter: invert(54%) sepia(32%) saturate(369%) hue-rotate(356deg) brightness(73%) contrast(86%);
}

.logo:hover {
  color: #9d8665;
}

.logo:active {
  color: #9d8665;
}

.title {
  padding: 0px 0px 0px 24px;
  font-family: Forum;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 775px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu__link {
  padding: 0px 10px;
}

.nav-menu__link a {
  font-family: Roboto;
  font-style: thin;
  font-weight: 200;
  line-height: 50px;
  letter-spacing: 2px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.nav-menu__link a:hover {
  color: #9d8665;
}

.nav-menu__link a:active {
  color: #9d8665;
}

.nav-menu__link:last-child {
  padding: 0 0 0 10px;
}

.nav-menu__link:first-child {
  padding: 0 10px 0 0;
}

footer {
  background: #030303;
  padding: 75px 0px 75px 0px;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 706px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .logo {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer .logo img {
  position: relative;
  bottom: -8px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav {
  width: 366px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 4px 0px 0px;
}

.footer-nav-menu .nav-menu__link {
  padding: 0px 0px 0px 0px;
}

.footer-socials {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.socials-list {
  width: 336px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 14px 0px;
}

.socials-item__svg {
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  position: absolute;
}

.socials-item__img1 {
  position: relative;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  opacity: 1;
}

.socials-item__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: solid 1px #666666;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.socials-item__img:hover {
  border: solid 1px #9d8665;
}

.socials-item__img:active {
  border: solid 1px #9d8665;
}

.socials-item__img:hover .socials-item__svg {
  opacity: 1;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.socials-item__img:hover .socials-item__img1 {
  opacity: 0;
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.section {
  padding: 75px 0px 75px 0px;
}

.dark-section {
  background: var(--bg-dark);
  color: var(--font-white);
}

.video-section {
  padding: 90px 0px 75px 0px;
}

.section-title {
  text-transform: uppercase;
  font-family: Forum;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
}

.section-subtittle {
  padding: 24px 0px 0px 0px;
  font-size: 28px;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
}

.welcome {
  padding: 74px 0px 49px 0px;
}

.welcome-container {
  height: 660px;
  position: relative;
  z-index: 1;
}

.welcome-wrap {
  padding: 49px 0px 0px 0px;
  height: 390px;
  width: 600px;
}

.welcome-bacground {
  position: absolute;
  height: 750px;
  width: 1215px;
  left: 439px;
  top: -101px;
  z-index: -1;
  background: url("../assets/img/welcome/background.jpg") no-repeat;
}

.welcome-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 76px 0px 0px 0px;
  width: 360px;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2.2px;
  color: var(--font-white);
  background: var(--dark-red);
  border-radius: 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.welcome-link:hover {
  background: var(--font-gold-hover);
}

.welcome-link:active {
  background: var(--font-gold-hover);
}

.welcome-slider {
  position: absolute;
  right: 1px;
  bottom: -49px;
  width: 600px;
  height: 120px;
  background-color: var(--bg-dark);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.welcome-slider__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 453px;
  height: 40px;
}

.welcome-slider__counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 76px;
}

.welcome-slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 185px;
}

.welcome-slider__items-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 183px;
}

.welcome-slider__item {
  width: 16px;
  height: 16px;
  margin: 0px 12.5px;
  background-color: var(--font-white);
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.welcome-slider__item:first-child {
  margin: 0px 12.5px 0px 0px;
}

.welcome-slider__item:last-child {
  margin: 0px 0px 0px 12.5px;
}

.welcome-slider__item.active {
  background-color: var(--font-gold);
}

.welcome-slider__item:hover {
  background-color: var(--font-gold-hover);
}

.welcome-slider__item.active:hover {
  background-color: var(--font-gold-hover);
}

.welcome-slider__arrows {
  width: 80px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-slider__arrows-left,
.welcome-slider__arrows-right {
  cursor: pointer;
  width: 30px;
  height: 16px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.welcome-slider__arrows-left:hover,
.welcome-slider__arrows-right:hover {
  -webkit-filter: invert(54%) sepia(32%) saturate(369%) hue-rotate(356deg) brightness(73%) contrast(86%);
          filter: invert(54%) sepia(32%) saturate(369%) hue-rotate(356deg) brightness(73%) contrast(86%);
}

.welcome-slider__arrows-left {
  background: url("../assets/img/welcome/arrow_left.svg") center no-repeat;
}

.welcome-slider__arrows-right {
  background: url("../assets/img/welcome/arrow_right.svg") center no-repeat;
}

.title-border {
  position: relative;
}

.title-border::before {
  position: absolute;
  content: "";
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background: var(--dark-red);
}

.title-light {
  color: var(--font-gold-hover);
}

.visiting {
  padding: 75px 0px 73px 0px;
}

.visiting-column {
  padding: 29px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -30px;
}

.visiting-column a {
  color: var(--bg-dark);
  cursor: auto;
}

.visiting-item {
  cursor: pointer;
}

.visiting-item__wrap {
  margin: 74px 30px 0px 30px;
}

.visiting-item__img {
  height: 285px;
  max-width: 440px;
  cursor: pointer;
}

.visiting-item__title {
  padding: 25px 0px 0px 0px;
  font-family: Forum;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  cursor: pointer;
  position: relative;
}

.visiting-item__title::before {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  width: 68%;
  height: 2px;
  background: var(--dark-red);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.visiting-item__text {
  padding: 22px 0px 0px 0px;
  font-size: 22px;
  font-style: Thin;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.visiting-item__text span {
  padding: 10px 0px 0px 0px;
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
}

.visiting-item:hover .visiting-item__title::before {
  cursor: pointer;
  width: 100%;
}

.explore {
  padding: 76px 0px 90px 0px;
}

.explore-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore-wrap {
  max-width: 690px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 30px 0px 0px;
}

.explore-title {
  padding: 0px 0px -3px 0px;
}

.explore-text__descr {
  padding: 103px 5px 0px 0px;
}

.explore-text {
  font-size: 22px;
  font-weight: 300;
  line-height: 39px;
  padding: 0px 0px 24px 0px;
}

.explore-text span {
  color: #caaa7d;
}

.explore-img {
  width: 720px;
  height: 700px;
  padding: 15px 0px 0px 29px;
}

.frame {
  margin: 0px 30px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.frame:hover {
  opacity: 0.7;
}

.video {
  padding: 75px 0px 75px 0px;
}

.video-player__wrap {
  position: relative;
  padding: 0px 0px 40px 0px;
}

.video-img {
  position: relative;
}

.video-img__frame {
  position: absolute;
  top: 215px;
  left: 610px;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}

.video-panel {
  height: 85px;
  width: 1440px;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-panel__size {
  margin: 0px 30px 0px 28px;
}

.video-panel__size:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
}

.video-progress,
.video .volume-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(var(--dark-red)), color-stop(54%, var(--dark-red)), color-stop(40%, #c4c4c4), to(#c4c4c4));
  background: -o-linear-gradient(left, var(--dark-red) 0%, var(--dark-red) 54%, #c4c4c4 40%, #c4c4c4 100%);
  background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 54%, #c4c4c4 40%, #c4c4c4 100%);
  height: 8px;
  width: 929px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  -o-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.video-progress::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #434343;
}

.video-descr {
  padding: 0px 0px 75px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-text {
  width: 720px;
  font-family: Roboto;
  font-style: light;
  font-weight: 300;
  line-height: 39px;
}

.volume-progress.__audio {
  width: 155px;
  background: -webkit-gradient(linear, left top, right top, from(var(--dark-red)), color-stop(43%, var(--dark-red)), color-stop(40%, #c4c4c4), to(#c4c4c4));
  background: -o-linear-gradient(left, var(--dark-red) 0%, var(--dark-red) 43%, #c4c4c4 40%, #c4c4c4 100%);
  background: linear-gradient(to right, var(--dark-red) 0%, var(--dark-red) 43%, #c4c4c4 40%, #c4c4c4 100%);
}

.video-slider {
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-slider__videos {
  height: 254px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-count: 3;
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-width: 33%;
     -moz-column-width: 33%;
          column-width: 33%;
  margin: 0px 0px 40px 0px;
}

.video-slider__video-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  margin: 0px 21px;
  height: 254px;
}

.video-slider__video-item:first-child {
  margin: 0px 21px 0px 0px;
}

.video-slider__video-item:last-child {
  margin: 0px 0px 0px 21px;
}

.video-slider__items-wrap {
  width: 200px;
  height: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-slider__items {
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-slider__item {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #999999;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.video-slider__item.active {
  background-color: var(--bg-dark);
}

.video-slider__item:hover {
  background-color: var(--dark-red);
}

.video-slider__arrow-left {
  background: url("../assets/img/icons/video-frame/video_arrow_left.svg") center no-repeat;
}

.video-slider__arrow-right {
  background: url("../assets/img/icons/video-frame/video_arrow_right.svg") center no-repeat;
}

.video-slider__arrow-right,
.video-slider__arrow-left {
  cursor: pointer;
  width: 10px;
  height: 12px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.video-slider__arrow-right:hover,
.video-slider__arrow-left:hover {
  -webkit-filter: contrast(108%) invert(110%) sepia(60%) saturate(6057%) brightness(59%);
          filter: contrast(108%) invert(110%) sepia(60%) saturate(6057%) brightness(59%);
}

.--video-item1 {
  background: url("../assets/img/video/slides/slide_item1.jpg") no-repeat;
}

.--video-item2 {
  background: url("../assets/img/video/slides/slide_item2.jpg") no-repeat;
}

.--video-item3 {
  background: url("../assets/img/video/slides/slide_item3.jpg") no-repeat;
}

.--video-item1,
.--video-item2,
.--video-item3 {
  cursor: pointer;
  position: relative;
  height: 100%;
}

.--video-item1::before,
.--video-item2::before,
.--video-item3::before {
  content: "";
  position: absolute;
  top: 103px;
  left: 192px;
  z-index: 2;
  width: 68px;
  height: 48px;
  background: url("../assets/img/icons/video-frame/youtube_icon_bg.svg") center no-repeat;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.--video-item1::after,
.--video-item2::after,
.--video-item3::after {
  content: "";
  position: absolute;
  top: 116.6px;
  left: 219px;
  z-index: 3;
  width: 18px;
  height: 21px;
  background: url("../assets/img/icons/video-frame/youtube_icon_play.svg") center no-repeat;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.video-slider__video-item:hover .--video-item1::after,
.video-slider__video-item:hover .--video-item2::after,
.video-slider__video-item:hover .--video-item3::after {
  background: url("../assets/img/icons/video-frame/youtube_icon_play_darkred.svg") center no-repeat;
}

.gallary {
  padding: 75px 0px 0px 0px;
}

.gallary-tittle {
  margin: 0px 0px 75px 0px;
}

.gallary-items {
  height: 1960px;
  overflow-y: hidden;
}

.gallary_inner-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  contain: layout paint;
  gap: 24px 36px;
  grid-auto-flow: dense;
  height: 2850px;
}

.gallary-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallary-item {
  position: relative;
}

.gallary-item:nth-child(3n + 1) {
  -ms-grid-column: 1;
      grid-column-start: 1;
  top: 50px;
}

.gallary-item:nth-child(3n + 2) {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.gallary-item:nth-child(3n + 3) {
  -ms-grid-column: 3;
      grid-column-start: 3;
  top: 50px;
}

.gallary-item:nth-child(2n + 2) {
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.gallary-item:nth-child(9) {
  -ms-grid-row-span: 4;
  grid-row-end: span 4;
}

.gallary-item:nth-child(10) {
  -ms-grid-row-span: 2;
  grid-row-end: span 2;
}

.gallary-item.long {
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
}

.gallary-item.medium {
  -ms-grid-row-span: 4;
  grid-row-end: span 4;
}

.gallary-item.short {
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
}

.gallary-shadow {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.tickets-wrap {
  padding: 103px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-amount {
  width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tickets-column__type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tickets-column__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.tickets-column__amount {
  width: 150px;
}

.tickets-subtitle {
  font-size: 28px;
  font-style: bold;
  font-weight: 700;
  line-height: 33px;
}

.tickets__container {
  margin: 50px 0px 0px 0px;
}

.tickets-radio {
  font-style: Light;
  font-weight: 300;
  line-height: 26px;
  position: relative;
  padding: 0px 0px 0px 41px;
  cursor: pointer;
}

.tickets-radio__input {
  display: none;
}

.tickets-radio__container {
  margin: 0px 0px 25px 0px;
}

.tickets-radio::before,
.tickets-radio::after {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tickets-radio::after {
  bottom: 6px;
  border: solid 2px var(--bg-dark);
  height: 17px;
  width: 17px;
}

.tickets-radio::before {
  background: var(--bg-dark);
  height: 7px;
  width: 7px;
  left: 5px;
  bottom: 11px;
  opacity: 0;
}

:hover ~ .tickets-radio::before {
  opacity: 0.25;
}

:checked ~ .tickets-radio::before {
  opacity: 1;
}

.tickets-age {
  font-style: light;
  font-weight: 300;
  line-height: 26px;
}

.tickets-number__container {
  margin: 14px 0px 11px 0px;
  width: 150px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid 3px var(--bg-dark);
}

.tickets-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0px 0px 0px;
  height: 50px;
  width: 175px;
  border-radius: 2px;
  font-family: Roboto;
  background-color: #000000;
  font-style: light;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  color: var(--font-white);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.tickets-btn:hover {
  background: var(--font-gold-hover);
  color: var(--bg-dark);
}

.tickets-btn:active {
  background: var(--font-gold-hover);
  color: var(--bg-dark);
}

.subtitle-padding {
  margin: 50px 0px 10px 0px;
  letter-spacing: 1.5px;
}

.subtitle_right {
  margin: 0px 0px 25px 0px;
  text-align: right;
}

.subtitle_left {
  margin: 0px 0px 50px 0px;
  -moz-text-align-last: left;
       text-align-last: left;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.number {
  all: unset;
  width: 86px;
  text-align: center;
}

.number-minus,
.number-plus {
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.number-minus:hover,
.number-plus:hover {
  opacity: 0.7;
}

.number-minus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 0px 21px 14px;
}

.number-plus {
  padding: 13px 14px 13px 0px;
}

.contacts-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 103px 0px 0px 0px;
}

.contacts-list__column {
  width: 282px;
}

.contacts-list__subtitle {
  margin: 10px 0px 0px 0px;
  font-size: 28px;
  font-style: medium;
  font-weight: 500;
  line-height: 33px;
}

.contacts-list__contacts {
  padding: 16px 0px 0px 0px;
}

.contacts-list__contact {
  font-weight: 300;
  line-height: 26px;
  padding: 20px 0px 0px 0px;
}

@media (max-width: 1452px) {
  ._container {
    max-width: 880px;
  }
}

@media (max-width: 880px) {
  ._container {
    max-width: none;
    max-width: 750px;
  }

  header {
    padding: 15px 0px 15px 0px;
  }

  footer {
    padding: 15px 0px 15px 0px;
  }
}

@media (max-width: 750px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}